.difficulty-picker {
  position: absolute;
  height: 120px;
  top: 0;
  left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.difficulty-picker input {
  width: 150px;
}