.gameboard-wrapper {
  background-color: #e1ccda;
  flex-grow: 1;
  box-shadow: none;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 15px;
  padding: 20px 10px;
  justify-content: center;
}

.gameboard::after {
  content: "";
  flex: auto;
}

.danger {
  box-shadow: inset 0 0 40px 0px #ff0000;
  background-color: #ff8989;
}