@font-face {
  font-family: 'Oswald';
  src: local('Font'), url(../fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
