.memory-card {
  padding: 10px;
  box-shadow: 1px 1px 4px #00000047;
  background-color: white;
}

.memory-card p {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2em;
}

.clicked {
  border-style: inset;
  border-width: 3px;
  border-color: white;
}

.grayscale {
  filter: grayscale(100%)
}