.scoreboard {
  display: flex;
  width: fit-content;
  min-width: 160px;
  margin: auto;
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
  height: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.scoreboard span:not(:last-child) {
  margin-bottom: 8px;
}