.scoreboard {
  flex-direction: column;
  display: flex;
  width: fit-content;
  margin: auto;
  text-align: left;
  justify-content: center;
  align-items: flex-end;
}

.scoreboard span:not(:last-child) {
  margin-bottom: 3px;
}

@media only screen and (max-width: 665px) {
  .scoreboard {
    order: 2;
    background-color: #87206c;
    padding: 10px;
  }
}